<form action="">
    <div class="row align-items-center">
        <div class="col-auto">
            <label for="newItem" class="col-form-label">{{ label }}</label>
        </div>
        <div class="col-auto">
            <input #newItem type="text" id="newItem" class="form-control">
        </div>
        <div class="col-auto">
            <button (click)="onAddNewItem(newItem.value)" type="button" class="btn" [ngClass]="[className]">
                Agregar {{ label }}
            </button>
        </div>
    </div>
</form>

<!-- Funcion para revisar cuantas veces se renderiza este componente -->
<!-- Para producción comentarlo -->
{{ counterRender() }}