<div class="row">
  <div class="col-12">
    <app-naves></app-naves>
  </div>
</div>

<div class="row">
  <div class="w-50">
    <app-interpolacion></app-interpolacion>
  </div>
</div>

<div class="row">
  <div class="w-50">
    <app-enlace-de-datos-bidireccional></app-enlace-de-datos-bidireccional>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <app-directivas></app-directivas>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <app-ciclo-de-vida-componente></app-ciclo-de-vida-componente>
  </div>
</div>





